* {
    font-family: 'Inter', sans-serif;
}

h2 {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
    font-weight: 900;
    letter-spacing: 5px;
    font-size: 30px;
}

.card {
    margin: auto;
    margin-top: 50px;
    background-color: wheat; 
    padding: 40px; 
    width: 35%;
    border-radius: 4px;
}

.card img { 
    margin: auto;
    width: 200px;
    position: relative;
    left: 130px;
    padding-bottom: 30px;
}

table {
    margin-top: 20px; 
    margin: auto;
}

.data {
    padding-left: 40px;
    padding-top: 20px;
}

.upper_data {
    padding-top: 20px;
}


